.chatbox {
  position: fixed;
  width: 360px;
  display: none;
  box-shadow: 0 0 3px var(--fs-color-gray-alpha-30);
  z-index: 1000;
  border: 0 none;;
}

.chatboxhead {
  background-color: var(--fs-color-primary-300);
  padding: 0;
  color: var(--fs-color-primary-900);

  outline: 0;
}

.chatboxtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.linklist.linkbubble {
  background-color: var(--fs-color-light);
  padding: 3px;
}

.linklist.linkbubble:after {
  border-color: var(--fs-color-light) var(--fs-color-transparent);
  border-style: solid;
  border-width: 0 7px 8px;
  box-shadow: 0 -1px 0 0 var(--fs-color-gray-alpha-40);
  content: "";
  display: block;
  left: 144px;
  position: absolute;
  top: -6px;
  width: 0;
  z-index: 10;
}

.chatboxhead .linklist {
  left: 174px;
  position: absolute;
  top: 30px;
  width: 180px;
  z-index: 100;
}

.chatboxhead .settings li .optinput {
  padding: 0;
  display: flex;
}

.chatboxhead .settings li .optinput input{
  font-size: 12px;
}

.chatboxhead .settings li .optinput i {
  color: var(--fs-color-primary-500);
  cursor: pointer;
  font-size: 20px;
  position: relative;
  top: 6px;
}

.chatboxhead .settings li .optinput i:hover {
  color: var(--fs-color-secondary-500);
}

.chatboxhead .settings li input {
  border: 1px solid var(--fs-color-primary-300);
  border-radius: 4px;
  margin-bottom: 0;
  margin-right: 5px;
  padding: 4px 5px;
  width: 100%;
}

.chatboxhead .linklist li a {
  border-radius: 4px;
}


.chatboxcontent {
  font-size: 13px;
  color: var(--fs-color-dark);
  background-color: var(--fs-color-light);
}

.chatboxoptions {
  float: right;
  margin-right: 5px;
}

.chatboxoptions a {
  background-color: var(--fs-color-transparent);
  display: inline-block;
  font-weight: bold;
  margin: 0;
  outline: 0 none;
  padding-top: 7px;
  text-align: center;
  text-decoration: none;
}

.chatboxoptions a:hover {
  color: var(--fs-color-secondary-900) !important;
}

.chatboxtitle {
  padding: 7px;
  display: block;
  float: left;
  width: 305px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  outline: 0;
}

.chatboxtitle a {
  color: currentColor !important;
}

.chatboxtitle a:hover {
  text-decoration: none;
  color: currentColor !important;
}

.chatboxtitle i {
  margin-right: 3px;
  position: relative;
  top: -1px;
  color: currentColor !important;
}

.conversation-list .pics {
  float: right;
  margin: 0;
  padding: 0;
  border: 0 none;
  border-radius: 4px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  line-height: 8px;
  text-align: right;
}

.conversation-list .icon {
  border: 0 none;
  float: right;
  font-size: 22px;
  height: 50px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 25px;
}

.conversation-list .icon .img {
  border: 5px solid;
  display: inline-block;
  height: 17px;
  width: 17px;
  border-radius: 14px;
}

.conversation-list .icon .img.yellow {
  border-color: var(--fs-color-warning-500);
}

.conversation-list .icon .img.brown {
  background-color: var(--fs-color-primary-500);
}

.conversation-list .icon .img.orange {
  background-color: var(--fs-color-warning-600);
}

.conversation-list .icon .img.red {
  background-color: var(--fs-color-danger-500);
}

.conversation-list .icon .img.green {
  background-color: var(--fs-color-secondary-500);
}

.conversation-list li > a {
  padding: 6px;
  border-radius: 4px;
}

.conversation-list li a:hover span {
  background-color: var(--fs-color-transparent) !important;
}

.conversation-list .pics img, .conversation-list .pics .avatar {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.conversation-list .msg, #conversation-list .names {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.conversation-list .msg {
  height: 2.6em;
}

.conversation-list .names {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.conversation-list .time {
  color: var(--fs-color-primary-500);
  font-size: 11px;
}

.conversation-list .unread-1 .pics {
  border: 1px solid var(--fs-color-dark);
}
.conversation-list .unread-1 .time {
  color: var(--fs-color-dark);
}

ul.conversation-list li.unread-1 > a::before {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 10px;
  width: 10px;
  padding: 2px;
  border: 3px solid var(--fs-color-light);
  border-radius: 10px;
  display: flex;
  content: " ";
  justify-content: center;
  background: var(--fs-color-danger-500);
  color: var(--fs-color-primary-300);
  /* font-family: 'Open Sans', sans-serif; */
  z-index: 1;
}

