<template>
  <div class="error-page">
    <div class="h1 header">
      {{ codes[props.code] || $i18n('error.page.other') }}
    </div>
    <svg
      id="svg404"
      viewBox="0 0 12000 7910"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <defs>
        <rect
          x="54.75936"
          y="85.789663"
          width="809.52587"
          height="213.56149"
        />
        <rect
          x="54.759361"
          y="85.789665"
          width="809.52588"
          height="213.56149"
        />
        <rect
          x="54.759361"
          y="85.789665"
          width="809.52588"
          height="213.56149"
        />
      </defs>
      <g
        fill="#fffab9"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:#dcdcdc;fill-opacity:1"
      >
        <g
          transform="matrix(0.87178848,0,0,0.87178848,1397.1,663.31994)"
          style="fill:var(--fs-color-secondary-900)"
        >
          <text
            xml:space="preserve"
            transform="matrix(9.7071632,-2.4022869,2.4022869,9.7071632,170.34561,2392.8181)"
            style="font-size:333.333px;line-height:0;font-family:Roboto;-inkscape-font-specification:Roboto;letter-spacing:0px;white-space:pre;display:inline;fill:var(--fs-color-secondary-900);stroke-width:35.9;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke markers fill"
          ><tspan
            x="54.759766"
            y="169.12231"
          >{{ props.code.toString()[0] }}</tspan></text>
          <text
            xml:space="preserve"
            transform="matrix(10,0,0,10,2187.2985,1950.7178)"
            style="font-size:333.333px;line-height:0;font-family:Roboto;letter-spacing:0px;white-space:pre;display:inline;fill:var(--fs-color-secondary-900);stroke-width:35.9;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke markers fill"
          ><tspan
            x="54.759766"
            y="169.12231"
          >{{ props.code.toString()[1] }}</tspan></text>
          <text
            xml:space="preserve"
            transform="matrix(9.7989798,1.9949925,-1.9949925,9.7989798,4202.4017,1747.954)"
            style="font-size:333.333px;line-height:0;font-family:Roboto;letter-spacing:0px;white-space:pre;display:inline;fill:var(--fs-color-secondary-900);stroke-width:35.9;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke markers fill"
          ><tspan
            x="54.759766"
            y="169.12231"
          >{{ props.code.toString()[2] }}</tspan></text>
        </g>
        <g
          style="fill:#dcdcdc;fill-opacity:1"
        />
      </g>
      <g
        fill="#baa3b1"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        inkscape:label="l3ZeLxVGaVpc5OfOSDJciym"
        style="fill:#afafaf;fill-opacity:1"
      >
        <g
          style="fill:#afafaf;fill-opacity:1"
        >
          <path
            d="m 2686,4488 c -8,-30 -8,-456 0,-485 4,-13 13,-23 20,-23 12,0 14,46 14,265 0,219 -2,265 -14,265 -7,0 -16,-10 -20,-22 z"
            style="fill:#afafaf;fill-opacity:1"
          />
        </g>
      </g>
      <g
        fill="#feee1a"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:#8c8c8c;fill-opacity:1"
      >
        <g
          style="fill:#8c8c8c;fill-opacity:1"
        >
          <path
            d="m 3104,5540 c -32,-13 -54,-50 -54,-92 v -37 l -47,-3 -48,-3 -3,-55 c -4,-74 13,-132 52,-168 42,-42 75,-52 162,-52 95,0 134,18 134,61 0,16 10,44 23,60 19,27 22,43 22,125 v 93 l -40,41 c -38,39 -40,40 -110,39 -38,0 -80,-4 -91,-9 z"
            style="fill:#8c8c8c;fill-opacity:1"
          />
          <path
            d="m 6193,5518 c -55,-9 -67,-14 -96,-49 -26,-30 -41,-39 -65,-39 h -32 v -63 c 0,-47 6,-75 23,-107 33,-63 72,-80 180,-80 105,0 127,9 127,52 0,20 11,43 31,66 29,33 31,39 27,103 -3,59 -8,72 -33,99 -32,33 -50,35 -162,18 z"
            style="fill:#8c8c8c;fill-opacity:1"
          />
        </g>
      </g>
      <g
        fill="#1498ca"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:var(--fs-color-secondary-700);fill-opacity:1"
      >
        <g
          style="fill:var(--fs-color-secondary-700);fill-opacity:1"
        >
          <path
            d="m 6412,3779 c -35,-4 -79,-13 -97,-19 -23,-8 -40,-8 -52,-2 -11,7 -24,7 -36,0 -13,-7 -28,-6 -50,3 -24,10 -32,10 -35,1 -5,-15 -78,-16 -87,-1 -5,7 -118,9 -374,4 -1327,-21 -1464,-22 -1931,-10 -349,9 -955,10 -1185,3 l -100,-3 -3,-35 c -2,-29 3,-41 30,-67 31,-29 39,-32 115,-35 72,-3 80,-1 68,12 -12,13 195,15 1855,15 1027,0 1866,-3 1863,-7 -2,-5 -43,-8 -91,-9 -48,0 -105,-4 -127,-8 -23,-5 96,-8 283,-9 292,-1 322,1 311,15 -12,14 -14,81 -2,93 2,3 11,-4 19,-14 13,-18 14,-17 14,17 0,36 0,36 -50,43 -28,4 -53,11 -56,15 -6,11 -195,10 -282,-2 z"
            style="fill:var(--fs-color-secondary-700);fill-opacity:1"
          />
        </g>
      </g>
      <g
        fill="#f05b21"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:var(--fs-color-secondary-500);fill-opacity:1"
      >
        <g
          style="fill:var(--fs-color-secondary-500);fill-opacity:1"
        >
          <path
            d="m 3100,5851 c -49,-13 -39,-67 33,-193 39,-68 80,-108 113,-108 35,0 82,-48 104,-106 20,-54 20,-59 5,-105 -12,-35 -20,-46 -31,-42 -9,3 -22,-3 -31,-16 -8,-12 -26,-27 -40,-32 l -26,-10 23,-24 22,-23 -30,-16 c -36,-18 -108,-21 -149,-5 -65,24 -121,114 -111,179 4,27 28,40 28,15 0,-9 6,-15 13,-13 7,3 16,34 21,72 l 9,68 -64,64 -64,65 -70,-3 -69,-3 -20,-50 c -24,-65 -39,-233 -26,-304 16,-88 66,-185 126,-241 29,-27 58,-50 64,-50 6,0 27,-11 48,-23 44,-28 156,-47 275,-47 79,0 85,2 157,45 45,27 87,45 106,45 27,0 37,8 68,55 20,30 36,59 36,65 0,6 18,42 40,81 70,124 78,291 18,411 -35,69 -170,218 -198,218 -9,0 -25,9 -35,20 -17,18 -30,20 -169,19 -83,-1 -162,-4 -176,-8 z"
            style="fill:var(--fs-color-secondary-500);fill-opacity:1"
          />
          <path
            d="m 6094,5820 c -68,-10 -74,-14 -74,-59 0,-56 40,-91 106,-91 h 49 l 18,-48 c 10,-26 23,-58 28,-70 5,-13 18,-26 29,-29 11,-3 20,-11 20,-19 0,-7 6,-11 13,-8 22,8 68,-50 74,-95 5,-38 3,-44 -41,-88 -43,-43 -45,-47 -30,-64 14,-16 14,-18 -5,-28 -32,-18 -132,-13 -171,8 -41,21 -80,89 -80,138 0,45 16,42 24,-6 3,-21 13,-45 23,-52 15,-13 15,-12 3,11 -7,13 -12,45 -11,69 1,41 -3,49 -46,93 -26,26 -52,48 -58,48 -6,0 -30,16 -52,35 -32,27 -50,35 -81,35 h -39 l -22,-65 c -24,-73 -26,-114 -11,-232 14,-110 48,-183 118,-252 91,-90 178,-120 354,-121 59,0 77,5 144,39 94,48 229,175 265,247 20,42 24,63 23,149 0,108 -14,175 -51,241 -30,53 -150,184 -169,184 -7,0 -29,9 -49,20 -30,17 -53,20 -143,19 -59,-1 -130,-5 -158,-9 z"
            style="fill:var(--fs-color-secondary-500);fill-opacity:1"
          />
          <path
            d="m 2845,4639 c -27,-4 -79,-14 -115,-22 -57,-12 -65,-17 -67,-38 -1,-14 0,-17 3,-7 6,20 66,35 86,22 9,-6 2,-10 -22,-14 l -35,-5 -3,-307 -2,-308 h -25 c -30,0 -34,-29 -7,-54 17,-15 162,-16 1953,-16 1064,0 1966,-3 2004,-5 39,-3 62,-2 52,3 -17,7 -18,26 -17,272 0,145 2,266 4,268 3,2 8,-20 13,-50 l 10,-53 7,76 c 6,58 4,86 -8,122 -24,70 -37,87 -70,87 -24,0 -27,-2 -16,-15 11,-13 -153,-15 -1463,-15 -1260,0 -1476,2 -1486,14 -10,11 -8,16 9,21 11,3 17,11 14,17 -5,8 -48,8 -143,2 -180,-11 -441,-8 -454,5 -13,13 -147,13 -222,0 z"
            style="fill:var(--fs-color-secondary-500);fill-opacity:1"
          />
          <path
            d="m 5038,3573 c 12,-2 32,-2 45,0 12,2 2,4 -23,4 -25,0 -35,-2 -22,-4 z"
            style="fill:var(--fs-color-secondary-500);fill-opacity:1"
          />
        </g>
      </g>
      <g
        fill="#ae251f"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:#676767;fill-opacity:1"
      >
        <g
          style="fill:#676767;fill-opacity:1"
        />
      </g>
      <g
        fill="#059b43"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:#505050;fill-opacity:1"
      >
        <g
          style="fill:#505050;fill-opacity:1"
        />
      </g>
      <g
        fill="#6f0448"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:var(--fs-color-primary-700);fill-opacity:1"
      >
        <g
          style="fill:var(--fs-color-primary-700);fill-opacity:1"
        >
          <path
            d="m 2797,6053 c -4,-3 -7,-15 -7,-25 0,-11 -7,-18 -19,-18 -23,0 -91,-38 -91,-51 0,-5 -6,-9 -13,-9 -28,0 -57,-45 -57,-88 0,-38 6,-48 64,-107 46,-47 71,-65 90,-65 23,0 26,-4 26,-34 0,-41 28,-66 75,-66 24,0 42,-12 80,-50 42,-43 55,-50 87,-50 37,0 38,1 38,35 v 35 h 65 65 v 31 c 0,19 -16,60 -38,98 -21,36 -44,82 -52,101 -22,58 -38,70 -90,70 -25,0 -50,-4 -56,-10 -7,-7 -9,1 -6,24 4,36 -45,151 -75,174 -18,13 -75,17 -86,5 z"
            style="fill:var(--fs-color-primary-700);fill-opacity:1"
          />
          <path
            d="m 5777,6034 c -4,-4 -7,-20 -7,-35 0,-21 -5,-28 -22,-31 -14,-2 -29,-15 -38,-35 -11,-25 -21,-33 -42,-33 -35,0 -58,-33 -58,-82 0,-32 8,-46 48,-88 46,-47 51,-50 100,-50 h 52 v -38 c 0,-34 5,-42 45,-70 38,-27 55,-32 100,-32 44,0 57,-4 67,-20 11,-17 24,-20 75,-20 h 63 v 35 c 0,20 -8,48 -17,63 -33,51 -156,197 -169,200 -9,2 -14,19 -14,50 0,37 -9,62 -43,117 -41,69 -43,70 -87,73 -25,2 -49,0 -53,-4 z m 73,-289 c 0,-8 -4,-15 -10,-15 -5,0 -10,7 -10,15 0,8 5,15 10,15 6,0 10,-7 10,-15 z"
            style="fill:var(--fs-color-primary-700);fill-opacity:1"
          />
          <path
            d="m 6880,5411 c 0,-18 -5,-19 -69,-14 -113,9 -117,6 -126,-82 -6,-72 -8,-75 -32,-75 -28,0 -62,-35 -63,-65 0,-15 -10,-24 -32,-30 -23,-7 -34,-17 -36,-32 -2,-15 -11,-23 -30,-25 -18,-2 -28,-10 -30,-24 -2,-13 -14,-23 -35,-30 -28,-8 -32,-14 -35,-50 -3,-35 3,-48 36,-90 88,-111 104,-124 161,-124 50,0 51,1 51,30 0,31 0,31 55,29 31,-1 58,-6 61,-10 3,-5 -16,-39 -40,-76 -67,-99 -72,-97 233,-95 140,1 261,6 276,12 23,9 31,6 57,-15 25,-21 39,-25 99,-25 65,0 69,-1 69,-23 0,-25 46,-103 74,-126 9,-8 37,-51 62,-97 25,-46 65,-111 89,-143 61,-83 95,-138 95,-155 0,-7 7,-20 17,-27 13,-12 64,-84 118,-168 45,-71 77,-116 125,-176 31,-38 77,-100 104,-138 26,-37 58,-75 72,-84 13,-8 34,-29 45,-45 l 21,-29 -26,-28 c -38,-40 -76,-144 -76,-210 0,-63 21,-133 41,-140 8,-2 31,-19 52,-37 43,-39 83,-46 74,-14 -6,22 5,25 34,10 17,-9 19,-7 19,18 0,20 -12,40 -41,67 -36,36 -40,44 -34,74 13,69 53,127 132,196 121,104 209,140 284,115 36,-12 40,-12 59,10 15,17 19,33 15,64 -2,22 -4,44 -4,47 -1,9 -44,24 -109,39 -59,14 -156,6 -214,-17 -22,-9 -43,-11 -51,-6 -8,4 -50,55 -92,113 -43,58 -104,134 -135,170 -32,36 -85,103 -118,150 -60,84 -94,129 -229,302 -162,207 -223,289 -223,303 -1,15 -36,55 -49,55 -14,0 -14,27 -1,35 6,3 10,26 10,51 0,37 -3,44 -20,44 -11,0 -20,-7 -20,-15 0,-8 -9,-15 -20,-15 -11,0 -20,6 -20,14 0,8 -21,37 -46,65 -46,51 -42,66 9,40 21,-11 21,-10 -2,15 -18,19 -34,26 -62,26 -47,0 -130,-27 -146,-46 -7,-10 -26,-14 -55,-13 -23,2 -108,2 -188,1 -171,-2 -182,-20 -15,-25 92,-2 84,-3 -51,-5 -88,-1 -164,1 -167,5 -4,3 -2,12 4,20 9,10 5,13 -19,13 -21,0 -32,-6 -35,-17 -4,-14 -5,-12 -6,5 -1,19 4,22 39,22 38,0 40,1 40,32 0,17 -7,40 -17,50 -15,17 -14,18 17,18 32,0 32,1 28,40 l -4,40 h 38 c 42,0 58,19 58,68 0,17 6,32 13,35 7,3 18,39 25,89 16,112 15,138 -3,138 -8,0 -15,-7 -15,-15 0,-22 -31,-18 -37,5 -7,26 -33,26 -33,1 z"
            style="fill:var(--fs-color-primary-700);fill-opacity:1"
          />
          <path
            d="m 4070,5131 c 0,-19 -6,-21 -58,-21 -51,0 -60,-3 -71,-23 -19,-36 -11,-81 17,-85 14,-2 22,-10 22,-23 0,-10 7,-19 15,-19 10,0 15,-10 15,-33 0,-39 15,-57 47,-57 19,0 23,-5 23,-30 0,-27 3,-30 30,-30 25,0 30,-4 30,-24 0,-24 21,-36 67,-36 17,0 22,-7 25,-32 2,-28 8,-34 31,-36 22,-3 27,-8 27,-29 v -26 l 81,7 c 105,9 119,16 119,65 0,46 -24,71 -68,71 -25,0 -32,4 -32,19 0,11 -6,23 -12,27 -9,6 -5,10 11,14 22,5 15,13 -76,100 -189,180 -243,224 -243,201 z"
            style="fill:var(--fs-color-primary-700);fill-opacity:1"
          />
          <path
            d="m 5504,5005 c 7,-20 -22,-47 -44,-40 -11,4 -24,-1 -32,-12 -7,-10 -22,-23 -33,-29 -11,-6 -21,-23 -23,-38 -2,-18 -9,-26 -23,-26 -12,0 -19,-7 -19,-20 0,-15 -7,-20 -28,-20 -39,0 -52,-17 -52,-66 0,-36 5,-45 34,-68 30,-22 45,-26 105,-26 55,0 71,3 71,14 0,10 16,17 48,21 60,8 76,17 80,44 2,11 10,21 17,21 20,0 35,32 35,72 0,25 -12,47 -45,88 -25,30 -45,65 -45,77 0,18 -6,23 -26,23 -19,0 -25,-4 -20,-15 z"
            style="fill:var(--fs-color-primary-700);fill-opacity:1"
          />
          <path
            d="m 3453,4970 c -4,-14 -14,-20 -33,-20 -16,0 -30,-5 -32,-10 -2,-6 -41,-13 -86,-17 -56,-4 -86,-11 -89,-19 -9,-24 18,-183 34,-195 14,-12 103,-5 223,16 72,13 80,16 80,30 0,11 11,15 40,15 38,0 40,1 40,33 1,18 -16,66 -37,109 l -38,77 h -48 c -41,1 -50,-2 -54,-19 z"
            style="fill:var(--fs-color-primary-700);fill-opacity:1"
          />
          <path
            d="m 2620,3946 c 0,-13 9,-31 20,-41 13,-12 20,-31 20,-56 0,-50 8,-69 31,-69 12,0 16,5 13,15 -5,12 2,15 30,15 20,0 39,-6 41,-12 4,-9 37,-13 119,-13 90,0 112,3 104,13 -8,9 -1,12 31,12 30,0 41,-4 41,-15 0,-8 7,-15 15,-15 9,0 18,7 21,15 7,17 104,22 104,5 0,-5 9,-10 20,-10 11,0 20,5 20,10 0,6 23,10 50,10 28,0 50,-4 50,-10 0,-5 9,-10 20,-10 11,0 20,5 20,10 0,17 87,12 94,-5 7,-20 36,-19 36,1 0,12 10,14 53,12 35,-2 51,-7 50,-15 -2,-8 7,-13 22,-13 16,0 25,6 25,15 0,11 11,15 40,15 29,0 40,-4 40,-15 0,-8 7,-15 15,-15 9,0 18,7 21,15 8,20 80,20 88,0 3,-8 14,-15 25,-15 14,0 19,5 15,15 -5,12 5,15 55,15 46,0 63,-4 67,-15 4,-8 15,-15 25,-15 10,0 19,7 19,15 0,10 10,15 30,15 18,0 33,-6 36,-15 8,-19 33,-19 40,0 5,11 22,15 65,15 46,0 59,-3 59,-15 0,-8 9,-15 20,-15 11,0 20,7 20,15 0,10 11,15 35,15 24,0 35,-5 35,-15 0,-19 29,-19 36,0 5,11 22,15 65,15 33,0 59,-4 59,-10 0,-5 9,-10 20,-10 11,0 20,5 20,10 0,16 84,12 119,-6 28,-14 51,-15 149,-8 64,4 120,7 125,6 4,-1 7,2 7,8 0,16 96,12 110,-5 16,-19 40,-19 40,0 0,12 13,15 55,15 42,0 55,-3 55,-15 0,-8 9,-15 20,-15 11,0 20,7 20,15 0,11 12,15 50,15 38,0 50,-4 50,-15 0,-19 29,-19 36,0 4,10 20,15 46,15 22,0 46,-7 54,-15 20,-19 34,-19 34,0 0,22 88,21 97,0 4,-13 24,-15 109,-14 88,1 103,3 93,15 -9,12 -3,14 40,14 37,0 53,-4 57,-15 8,-19 33,-19 40,0 9,22 90,20 104,-2 10,-17 10,-17 20,0 14,21 67,23 97,2 24,-17 108,-19 311,-8 l 112,6 v 47 c 0,44 -2,49 -34,64 -19,9 -41,16 -49,16 -8,0 -26,9 -39,20 -25,19 -26,19 -48,0 -21,-18 -38,-20 -171,-20 -91,0 -158,4 -174,12 -20,9 -31,8 -50,-2 -20,-11 -33,-11 -66,-1 -30,9 -45,9 -52,2 -17,-17 -88,-13 -109,6 -17,15 -19,15 -36,0 -16,-15 -119,-16 -1092,-16 -762,0 -1078,3 -1087,11 -9,7 -17,7 -27,-1 -9,-8 -72,-10 -207,-7 -107,2 -198,4 -204,4 -5,0 -125,-2 -265,-4 -236,-3 -256,-2 -275,15 -11,10 -30,21 -42,24 -19,4 -23,1 -23,-17 z"
            style="fill:var(--fs-color-primary-700);fill-opacity:1"
          />
        </g>
      </g>
      <g
        fill="#14374c"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
        style="fill:var(--fs-color-primary-600);fill-opacity:1"
      >
        <g
          style="fill:var(--fs-color-primary-600);fill-opacity:1"
        >
          <path
            d="m 3188,6163 c -10,-2 -18,-11 -18,-18 0,-20 -66,-30 -95,-15 -27,14 -70,9 -162,-21 -60,-20 -63,-22 -63,-53 0,-18 4,-36 9,-42 6,-5 24,-37 41,-71 30,-61 32,-63 69,-63 49,0 71,8 71,26 0,8 5,14 10,14 6,0 10,-25 10,-55 0,-60 16,-79 47,-54 11,10 56,15 150,17 117,4 137,2 154,-14 18,-17 19,-16 19,14 0,18 5,32 10,32 6,0 10,-11 10,-23 0,-24 27,-57 47,-57 5,0 42,-31 81,-70 48,-46 72,-77 72,-92 0,-13 11,-40 25,-60 49,-72 29,-202 -55,-362 -28,-53 -50,-107 -50,-121 0,-16 -6,-25 -16,-25 -9,0 -23,-8 -30,-17 -14,-19 -19,-69 -6,-75 4,-1 20,-28 36,-58 42,-81 62,-100 108,-100 49,0 78,15 78,40 0,15 7,20 29,20 22,0 38,11 66,43 96,111 145,194 145,245 0,13 11,56 25,94 30,82 34,203 10,294 -32,124 -139,295 -231,370 -24,20 -44,43 -44,50 0,7 -18,23 -40,34 -23,12 -38,24 -36,29 12,18 -80,72 -179,106 -97,33 -245,52 -297,38 z"
            style="fill:var(--fs-color-primary-600);fill-opacity:1"
          />
          <path
            d="m 5960,6100 c -84,-11 -100,-22 -100,-74 0,-33 10,-62 41,-115 l 41,-71 h 49 c 31,0 51,5 55,13 3,8 18,11 44,9 36,-4 40,-7 40,-33 0,-18 7,-32 20,-39 14,-7 20,-7 20,0 0,6 31,10 80,10 61,0 88,-5 115,-20 20,-11 42,-20 49,-20 19,0 140,-132 169,-185 14,-24 31,-66 38,-94 12,-46 15,-51 41,-51 20,0 31,7 38,23 7,17 9,18 9,5 1,-13 9,-18 31,-18 27,0 30,-3 30,-30 0,-37 27,-50 100,-50 h 50 l -6,44 c -7,48 -7,48 61,58 25,4 31,50 15,116 -6,26 -14,60 -17,75 -3,16 -14,34 -24,40 -11,7 -19,19 -19,28 0,9 -9,24 -20,34 -11,10 -20,28 -20,41 0,36 -76,104 -117,104 -28,0 -33,3 -33,25 0,26 -25,45 -58,45 -11,0 -22,9 -25,20 -4,16 -14,20 -44,20 -27,0 -42,6 -51,20 -9,15 -23,20 -56,20 -25,0 -46,5 -48,12 -4,12 -88,28 -176,33 -29,1 -56,5 -59,9 -8,8 -192,5 -263,-4 z"
            style="fill:var(--fs-color-primary-600);fill-opacity:1"
          />
          <path
            d="m 2560,5790 c 0,-36 -3,-40 -24,-40 -25,0 -36,-16 -36,-53 0,-13 -9,-26 -22,-32 -19,-8 -23,-18 -24,-59 0,-33 -6,-53 -17,-61 -10,-7 -17,-26 -17,-44 0,-21 -5,-31 -15,-31 -10,0 -15,-10 -15,-33 0,-27 9,-42 45,-75 29,-26 45,-49 45,-64 0,-78 73,-251 144,-342 l 30,-39 -31,5 -32,4 29,-35 c 66,-83 107,-114 177,-133 37,-10 108,-21 156,-24 48,-4 90,-11 93,-16 3,-4 30,-8 60,-8 h 54 v -33 c 0,-53 10,-57 162,-57 h 138 v 38 c 0,61 -26,76 -125,70 l -82,-6 -6,89 c -3,49 -8,93 -12,98 -3,6 -43,10 -88,10 h -83 l -42,41 c -24,22 -52,40 -63,40 -29,0 -100,51 -135,97 -16,21 -46,72 -66,113 l -38,75 24,3 c 23,3 24,7 25,87 1,59 8,104 24,147 21,61 23,63 60,66 21,2 46,-3 55,-10 9,-7 13,-8 9,-2 -3,6 -24,23 -46,38 -33,23 -49,27 -86,24 -25,-2 -45,0 -45,4 0,5 11,8 25,8 22,0 25,4 25,35 0,19 -5,35 -11,35 -6,0 -36,25 -65,55 -52,52 -57,55 -104,55 h -50 z"
            style="fill:var(--fs-color-primary-600);fill-opacity:1"
          />
          <path
            d="m 5537,5813 c -4,-3 -7,-17 -7,-30 0,-19 -5,-23 -28,-23 -31,0 -48,-16 -76,-71 -16,-31 -18,-53 -14,-158 3,-67 8,-124 11,-128 4,-3 13,0 22,7 13,11 15,7 15,-32 0,-52 32,-183 55,-227 15,-30 15,-31 -5,-31 -11,0 -23,7 -26,15 -11,27 -24,16 -24,-21 0,-31 12,-48 98,-140 109,-119 206,-194 248,-194 42,0 141,-19 218,-43 59,-17 96,-21 240,-21 121,0 171,4 174,12 2,7 26,12 63,12 h 59 v 32 c 0,23 -12,46 -48,87 -27,31 -59,72 -73,91 -13,19 -28,38 -34,42 -20,15 -57,8 -114,-22 -67,-35 -162,-42 -221,-18 -105,44 -216,135 -281,231 -36,51 -38,57 -19,57 24,0 26,31 8,109 -10,46 -14,51 -39,51 -26,0 -27,2 -22,43 3,23 9,46 14,52 5,5 9,31 9,57 0,41 3,48 20,48 16,0 20,7 20,34 0,28 -12,45 -75,110 -71,71 -78,76 -119,76 -23,0 -46,-3 -49,-7 z"
            style="fill:var(--fs-color-primary-600);fill-opacity:1"
          />
          <path
            d="m 2456,5230 c 3,-19 10,-39 16,-45 11,-12 0,42 -14,65 -6,10 -7,3 -2,-20 z"
            style="fill:var(--fs-color-primary-600);fill-opacity:1"
          />
          <path
            d="m 2490,5106 c 15,-42 80,-155 93,-162 8,-5 8,-2 0,7 -7,7 -13,23 -13,36 0,12 -13,38 -30,56 -16,19 -30,39 -30,44 0,5 -7,18 -15,29 -14,18 -14,17 -5,-10 z"
            style="fill:var(--fs-color-primary-600);fill-opacity:1"
          />
        </g>
      </g>
      <g
        fill="#010101"
        transform="matrix(1.432615,0,0,1.432615,-706.2757,-1672.2901)"
      >
        <g>
          <path
            d="m 3105,6154 c -11,-2 -45,-9 -75,-15 -66,-12 -148,-36 -173,-50 -10,-5 -26,-7 -36,-4 -13,4 -26,-6 -47,-36 -24,-36 -60,-64 -161,-129 -41,-26 -163,-206 -163,-240 0,-6 -14,-39 -31,-73 -20,-41 -28,-69 -24,-85 5,-21 3,-24 -14,-19 -17,4 -22,-1 -27,-30 -4,-19 -4,-51 0,-71 3,-20 10,-62 15,-93 14,-89 61,-195 138,-312 29,-43 50,-84 47,-91 -3,-8 24,-39 63,-74 77,-69 163,-109 214,-98 19,3 51,-2 87,-14 31,-11 69,-20 84,-20 15,0 30,-4 33,-10 3,-5 14,-10 24,-10 10,0 24,-7 31,-15 13,-15 -40,-18 -335,-20 -33,0 -74,-4 -92,-8 -35,-9 -92,-67 -94,-95 -13,-167 -12,-618 1,-677 6,-27 12,-56 13,-64 1,-9 -18,-19 -58,-28 -33,-8 -66,-22 -72,-31 -27,-33 -8,-142 24,-142 8,0 22,-13 31,-30 15,-26 23,-30 60,-30 23,0 36.5451,1.5897 41.8944,1.5664 L 2661,3546 h 77 c 42,0 106,6 142,13 47,9 153,12 375,11 182,-1 341,2 385,9 72,10 164,9 462,-5 l 137,-7 2441,33 c 0,6 23,10 52,10 45,0 50,2 38,14 -18,17 -365,32 -375,16 -3,-6 -45,-10 -93,-10 -48,-1 -107,-5 -132,-11 -35,-8 -726,-24 -915,-21 -22,1 -230,2 -462,4 -319,2 -425,6 -435,16 -15,15 -1120,17 -1238,1 -93,-12 -312,-31 -362,-32 -30,-1 -45,6 -71,31 -28,27 -40,32 -83,32 -44,0 -54,4 -84,35 -28,28 -31,35 -17,41 9,3 20,3 26,0 5,-3 112,-1 238,5 174,9 359,8 778,-2 655,-15 612,-15 1430,-4 748,11 1234,11 1287,0 24,-4 59,-1 101,9 81,21 281,33 299,19 7,-6 34,-14 61,-17 57,-9 82,-39 79,-96 -2,-21 3,-42 9,-46 18,-11 39,25 39,69 0,32 -7,46 -39,78 -21,22 -45,39 -53,39 -16,0 -14,-20 -36,582 l -7,177 -45,48 c -25,26 -46,50 -48,52 -6,11 -257,21 -642,27 -223,3 -408,9 -413,13 -6,6 54,95 100,151 2,2 26,-8 52,-23 69,-38 218,-89 255,-86 48,4 196,-13 196,-22 0,-4 28,-6 63,-3 34,3 73,2 86,-4 27,-10 42,-7 196,40 106,33 255,104 255,122 0,5 13,24 29,41 34,35 171,300 171,330 0,12 12,50 26,86 23,58 25,74 21,169 -3,91 -8,116 -37,185 -36,87 -64,126 -167,232 -38,38 -77,86 -88,107 -12,23 -25,34 -34,31 -28,-11 -225,53 -233,76 -4,13 -173,39 -258,39 -98,0 -182,-16 -317,-61 -109,-36 -133,-49 -222,-115 -55,-41 -104,-74 -109,-74 -10,0 -134,-192 -146,-225 -4,-11 -13,-103 -21,-205 -11,-160 -11,-191 2,-235 21,-73 50,-132 93,-196 21,-32 36,-59 34,-62 -8,-8 10,-37 55,-92 46,-56 46,-54 27,-80 -14,-19 -16,-18 -55,25 -22,25 -40,48 -41,53 0,4 -11,25 -25,48 l -26,40 -59,-46 c -33,-26 -60,-50 -60,-54 0,-18 -76,-65 -105,-66 -27,0 -30,-3 -27,-27 2,-21 -7,-38 -38,-70 l -41,-43 -263,1 h -264 l -104,97 c -70,64 -113,97 -128,97 -16,0 -40,19 -74,57 -28,32 -80,89 -116,128 -36,38 -79,86 -97,105 l -32,35 20,58 c 20,58 20,58 -2,170 -11,61 -27,123 -34,137 -8,14 -22,50 -31,80 -24,76 -84,170 -167,262 -93,103 -172,158 -225,158 -23,0 -43,4 -47,9 -3,5 -34,19 -70,31 -36,12 -67,26 -70,31 -4,5 -48,9 -99,9 -71,0 -97,4 -106,15 -12,14 -58,18 -105,9 z m -47,-66 c 43,-47 47,-145 5,-136 -11,2 -73,124 -73,143 0,3 20,10 41,14 3,0 15,-9 27,-21 z m 141,-2 c 15,-18 27,-146 14,-146 -6,0 -23,5 -40,10 -23,8 -31,20 -41,55 -18,69 -16,83 16,88 15,2 30,5 33,6 4,0 12,-5 18,-13 z m -234,-6 c -4,-6 2,-30 13,-53 11,-23 23,-56 26,-74 7,-29 5,-33 -19,-39 -14,-3 -27,-5 -29,-3 -3,3 -63,117 -74,140 -1,4 14,14 35,22 45,19 56,21 48,7 z m 374,-4 c 10,-12 8,-30 -7,-83 -17,-61 -22,-68 -42,-65 -13,1 -25,3 -25,5 -1,1 -5,37 -8,80 l -7,77 h 39 c 21,0 44,-6 50,-14 z m 2739,-21 c 2,-11 7,-29 12,-40 16,-39 33,-116 26,-122 -12,-12 -61,24 -78,58 -20,39 -23,81 -7,110 13,25 43,21 47,-6 z m 121,12 c 6,-8 11,-44 12,-81 2,-74 -10,-98 -38,-80 -20,12 -27,37 -36,117 l -7,57 h 29 c 16,0 34,-6 40,-13 z m -2720,-24 c 3,-2 -6,-37 -20,-78 -26,-80 -42,-91 -83,-60 -18,13 -18,20 -8,62 6,27 15,60 21,75 9,25 12,26 48,15 21,-6 40,-12 42,-14 z m 2492,10 c -7,-13 -1,-39 19,-96 24,-65 26,-79 14,-84 -24,-9 -38,3 -76,68 -47,78 -48,96 -5,114 45,20 60,19 48,-2 z m 338,8 c 13,-8 12,-34 -5,-123 -13,-65 -54,-14 -54,66 0,56 23,79 59,57 z m 105,-17 c 19,-7 20,-35 4,-103 -10,-47 -14,-51 -40,-51 -27,0 -28,1 -28,54 0,90 18,118 64,100 z m -3517,-96 c 31,-63 33,-78 9,-78 -17,0 -86,104 -86,128 0,54 36,30 77,-50 z m 690,59 c 99,-52 123,-68 123,-81 0,-7 20,-30 44,-50 92,-75 199,-246 231,-370 22,-83 19,-154 -10,-234 -14,-38 -25,-81 -25,-94 0,-37 -23,-87 -69,-149 -66,-89 -112,-139 -130,-139 -15,1 -92,94 -133,161 -17,28 -17,29 32,116 59,109 80,185 80,297 0,76 -3,92 -25,124 -14,20 -25,47 -25,60 0,15 -24,46 -72,92 -39,39 -76,70 -81,70 -25,0 -47,35 -47,74 0,41 42,146 57,146 4,-1 27,-11 50,-23 z m 2943,-2 c 10,-12 10,-28 2,-71 -12,-58 -30,-84 -57,-84 -24,0 -28,23 -15,100 11,63 14,70 35,70 12,0 28,-7 35,-15 z m -643,-70 c 46,-76 53,-105 26,-105 -36,1 -122,131 -109,165 11,31 41,10 83,-60 z m -3059,-33 c 42,-70 48,-102 18,-102 -8,0 -37,29 -65,64 -29,36 -57,67 -64,70 -16,6 33,47 52,43 8,-1 34,-35 59,-75 z m 3797,69 c 3,-6 -4,-25 -15,-43 -41,-67 -15,-92 28,-27 28,41 33,43 57,26 25,-19 13,-45 -29,-62 -44,-18 -54,-35 -27,-42 27,-7 26,-11 -5,-35 -31,-25 -19,-43 18,-29 14,5 48,32 76,59 l 51,49 40,-35 c 46,-39 56,-82 21,-82 -11,0 -49,-18 -84,-40 -69,-44 -76,-46 -76,-27 0,7 17,21 38,30 39,18 87,81 78,103 -8,21 -22,17 -40,-11 -21,-32 -67,-74 -88,-81 -12,-3 -42,14 -89,52 -69,55 -70,57 -47,68 17,9 26,26 37,74 11,47 19,62 32,62 10,0 20,-4 24,-9 z m -800,-113 c 19,-26 35,-52 35,-57 0,-23 -38,-9 -71,27 -59,63 -60,66 -42,92 16,23 17,23 30,4 8,-10 29,-40 48,-66 z m -3077,-13 c 65,-78 77,-116 39,-123 -19,-4 -147,118 -147,141 0,15 28,57 38,57 4,0 36,-34 70,-75 z m 478,40 c 10,-8 28,-15 39,-15 51,0 126,-28 146,-54 11,-14 28,-26 37,-26 25,0 145,-125 186,-193 70,-117 68,-248 -5,-377 -21,-38 -39,-74 -39,-80 0,-6 -16,-35 -36,-65 -31,-47 -41,-55 -68,-55 -19,0 -61,-18 -106,-45 -63,-38 -83,-45 -127,-45 -91,0 -206,22 -245,47 -21,12 -42,23 -48,23 -6,0 -35,23 -64,50 -57,54 -110,153 -125,232 -4,24 -12,42 -19,40 -8,-1 -13,15 -14,45 -3,75 0,103 19,173 l 18,65 50,3 49,3 -30,24 c -28,22 -28,25 -12,41 17,17 19,17 41,-4 13,-12 30,-22 37,-22 15,0 130,-108 130,-122 0,-12 -38,-10 -63,3 -12,6 -38,25 -57,43 -19,17 -5,-1 31,-39 60,-63 66,-73 59,-98 -16,-55 5,-107 44,-107 21,0 23,5 24,62 3,94 35,128 121,128 83,0 146,-122 108,-212 -13,-31 -13,-39 -2,-48 28,-23 59,-7 77,40 23,60 22,108 -3,175 -21,57 -69,105 -103,105 -33,0 -75,41 -113,108 -67,119 -70,131 -29,133 15,1 13,3 -8,8 -22,5 -29,12 -32,34 -2,26 0,27 31,25 19,-1 37,1 41,5 12,11 39,8 60,-8 z m 2526,-80 c 53,-65 57,-88 17,-93 -29,-3 -75,30 -110,79 -20,28 -20,31 -4,55 9,14 24,24 33,22 9,-2 38,-30 64,-63 z m 670,21 c 36,-16 82,-51 135,-104 111,-109 139,-168 113,-237 -12,-32 -32,-29 -37,5 -4,29 -23,52 -23,29 0,-9 3,-19 7,-23 10,-10 13,-32 15,-122 1,-66 -3,-89 -22,-129 -35,-72 -170,-197 -267,-247 l -78,-41 -100,10 c -124,12 -179,37 -257,114 -72,72 -104,142 -119,261 -10,83 -9,96 11,159 13,38 27,69 32,69 5,0 28,-16 51,-35 22,-19 46,-35 52,-35 23,0 112,-105 119,-139 9,-47 23,-61 64,-61 h 35 l -27,25 c -37,34 -35,76 7,120 30,33 38,36 130,47 106,13 110,20 29,54 -18,8 -37,25 -41,37 -5,12 -25,61 -45,109 -20,47 -36,91 -36,97 0,7 27,12 68,13 l 67,1 -60,6 c -76,8 -95,18 -69,38 29,22 177,9 246,-21 z m -3363,-22 c 12,-15 21,-31 21,-37 0,-6 9,-20 19,-31 10,-12 30,-49 44,-83 l 25,-63 h -27 c -20,0 -46,22 -113,96 -49,53 -88,102 -88,110 0,8 10,14 24,14 14,0 28,5 31,10 11,18 43,10 64,-16 z m -412,-19 c 16,-8 49,-35 72,-60 l 42,-45 h -30 c -21,0 -44,14 -85,51 -31,28 -56,55 -56,60 0,13 23,11 57,-6 z m 3030,-71 c 40,-42 73,-78 73,-80 0,-11 -48,-2 -71,14 -93,63 -135,113 -112,135 17,18 43,1 110,-69 z m 463,36 c 25,-50 25,-50 -7,-50 -25,0 -83,43 -83,62 0,9 36,26 57,27 7,1 22,-17 33,-39 z m -3155,-67 c 82,-94 81,-93 57,-93 -23,0 -145,99 -163,131 -7,15 -7,24 1,34 16,19 41,3 105,-72 z m 3042,-3 c 66,-82 103,-133 103,-145 0,-3 -16,-5 -35,-5 -19,0 -35,3 -35,8 0,4 -36,45 -79,92 -63,67 -82,82 -92,73 -10,-10 -1,-25 42,-70 53,-57 54,-58 28,-61 -32,-4 -119,54 -119,78 0,9 8,25 18,36 9,11 22,29 28,40 11,19 53,46 65,41 4,-1 38,-40 76,-87 z m 857,41 c 19,-21 14,-41 -9,-41 -8,0 -29,-9 -47,-20 -18,-11 -42,-20 -54,-20 -11,0 -29,-6 -40,-14 -18,-14 -18,-15 8,-21 28,-7 106,22 134,50 19,19 38,19 53,1 17,-20 -4,-33 -95,-59 -84,-24 -108,-47 -52,-48 31,0 32,-1 11,-11 -13,-6 -23,-15 -23,-20 0,-14 83,-9 133,9 35,13 50,14 58,6 26,-26 1,-41 -83,-47 -46,-4 -95,-9 -109,-12 -24,-5 -27,-2 -32,39 -4,25 -13,63 -20,85 l -14,40 76,50 c 42,28 79,51 82,51 3,1 14,-8 23,-18 z m -1339,-18 c 18,-16 63,-53 99,-83 64,-53 81,-85 52,-96 -23,-9 -169,59 -182,84 -8,16 -13,19 -22,10 -29,-29 -13,-48 82,-93 52,-25 99,-45 105,-45 6,0 11,-7 11,-15 0,-20 -12,-19 -63,4 -23,11 -55,22 -72,25 -16,2 -42,8 -57,12 -24,5 -28,3 -28,-15 0,-14 8,-22 28,-27 61,-14 121,-33 151,-48 28,-15 31,-21 31,-61 0,-58 26,-126 77,-201 54,-78 112,-132 202,-188 80,-49 147,-68 226,-64 42,3 50,0 53,-17 2,-11 15,-46 29,-78 14,-31 23,-60 20,-63 -3,-4 -26,-3 -51,0 -41,7 -46,10 -61,50 -9,24 -15,54 -13,67 2,18 -2,24 -17,24 -16,0 -20,-6 -19,-35 1,-19 4,-50 9,-67 9,-40 5,-41 -85,-14 -74,22 -173,41 -214,41 -42,0 -139,75 -245,191 -92,99 -107,119 -150,204 -28,55 -30,174 -2,199 15,14 17,24 10,59 -21,109 -8,190 40,250 18,22 17,22 56,-10 z m -2900,-28 69,-45 h -42 c -32,0 -95,21 -140,47 -2,1 -1,11 3,22 9,31 32,26 110,-24 z m -30,-72 c 66,-24 81,-33 83,-52 4,-23 2,-24 -40,-17 -69,11 -147,38 -165,58 -13,15 -14,20 -3,34 15,17 12,18 125,-23 z m 4336,-14 c 17,-32 0,-40 -72,-37 -45,2 -58,6 -44,11 11,5 36,17 55,28 44,24 47,23 61,-2 z m -4365,-75 c 49,-14 92,-28 96,-32 4,-4 5,-17 2,-30 -5,-16 -14,-22 -33,-22 -42,0 -160,36 -181,55 -19,17 -19,18 3,36 12,10 23,18 23,19 1,0 42,-12 90,-26 z m 4357,-134 c -1,-40 -7,-78 -12,-83 -6,-6 -45,-4 -108,4 -89,13 -98,16 -101,36 -5,31 31,38 114,24 70,-13 92,-6 81,22 -4,12 -16,14 -46,10 -41,-6 -71,8 -71,31 0,12 85,32 125,30 18,-1 20,-7 18,-74 z m -4363,27 c 77,-20 95,-29 95,-43 0,-22 -16,-21 -130,2 -54,11 -77,22 -100,45 l -30,31 35,-5 c 19,-2 78,-16 130,-30 z m 3174,-109 c 5,-21 3,-28 -8,-28 -9,0 -15,15 -18,46 -2,25 -1,48 2,50 4,5 8,-5 24,-68 z m -3289,42 c 3,-5 11,-7 18,-4 7,2 55,-4 107,-14 93,-18 95,-19 101,-50 25,-125 166,-302 240,-302 13,0 38,-14 56,-32 32,-30 33,-35 33,-106 v -75 l -57,6 c -32,4 -91,15 -131,25 -65,17 -80,25 -130,75 -33,33 -66,57 -79,57 -23,0 -53,39 -53,69 0,11 -12,34 -26,51 -39,46 -65,100 -69,146 -3,22 -13,60 -24,85 -12,24 -21,52 -21,62 0,18 25,24 35,7 z m 4400,-76 c 51,-2 60,-5 60,-20 0,-17 -9,-19 -83,-19 -77,1 -84,3 -110,29 l -27,28 50,-8 c 28,-4 77,-9 110,-10 z m -98,-65 c 6,-6 37,-12 69,-14 62,-4 72,-12 54,-44 -16,-32 -92,-29 -132,4 -28,24 -58,33 -58,18 0,-4 26,-33 57,-65 l 57,-58 h -34 c -44,1 -66,14 -119,72 l -43,47 19,25 c 15,21 26,25 69,26 27,0 55,-5 61,-11 z m -72,-169 90,-90 h -51 c -50,0 -52,2 -117,69 -37,38 -67,74 -67,80 0,11 28,30 45,31 6,0 51,-40 100,-90 z m -2707,25 c -6,-13 -15,-22 -19,-19 -9,5 11,44 23,44 4,0 3,-11 -4,-25 z m 96,10 c 3,-9 -8,-27 -27,-45 -50,-47 -60,-38 -30,25 17,36 46,47 57,20 z m 2525,-96 c 47,-51 88,-96 89,-100 2,-5 -12,-9 -31,-9 -20,0 -37,4 -39,9 -1,5 -21,29 -44,53 -51,54 -95,119 -88,130 11,18 30,4 113,-83 z m -2957,-29 c 31,-41 57,-78 57,-83 1,-4 -10,-13 -24,-19 -22,-10 -29,-8 -54,16 -16,16 -35,42 -42,60 -7,17 -21,41 -32,53 -16,18 -17,24 -6,37 23,26 41,14 101,-64 z m 496,49 c 12,-19 10,-25 -19,-55 -35,-36 -57,-42 -77,-22 -20,20 -14,45 19,72 37,32 60,33 77,5 z m 2352,-21 c 33,-46 40,-55 83,-106 64,-78 6,-86 -65,-9 -78,85 -103,124 -88,142 20,24 38,18 70,-27 z m -2548,-26 c 25,-42 93,-106 211,-197 42,-33 77,-66 77,-74 0,-12 -30,-13 -182,-8 -101,3 -268,2 -373,-2 -178,-7 -225,-4 -225,18 0,5 11,12 25,15 24,6 116,51 263,127 43,22 82,53 120,96 30,35 57,63 58,63 2,0 13,-17 26,-38 z m 2467,-30 c 17,-26 48,-65 70,-87 22,-22 40,-43 41,-47 0,-10 -62,-10 -76,0 -6,4 -28,40 -49,80 -22,39 -45,72 -52,72 -21,0 -15,-24 22,-93 19,-36 35,-70 35,-76 0,-6 -15,-11 -34,-11 -32,0 -37,5 -65,56 -36,67 -48,114 -29,115 7,0 29,11 48,23 19,13 40,21 47,19 7,-3 26,-26 42,-51 z m -2859,-23 c 46,-92 45,-89 18,-89 -18,0 -32,15 -62,65 -39,66 -41,95 -9,94 12,0 30,-24 53,-70 z m 656,37 c 7,-17 -64,-85 -88,-86 -30,0 -20,27 24,64 46,40 56,43 64,22 z m -751,-38 c 9,-18 25,-51 36,-72 21,-41 14,-59 -21,-53 -15,2 -58,105 -59,140 -1,29 28,19 44,-15 z m -66,-47 c 25,-70 26,-87 4,-95 -22,-9 -27,-1 -47,73 -15,53 -15,65 -4,72 22,14 24,11 47,-50 z m 2051,52 c 0,-5 25,-37 55,-73 59,-69 63,-78 39,-87 -16,-6 -86,55 -126,110 -16,22 -17,31 -8,42 13,16 40,20 40,8 z m -2329,-33 c 4,-14 7,-46 8,-72 1,-44 -1,-48 -22,-48 -37,0 -47,19 -47,88 0,63 0,63 27,60 19,-2 29,-10 34,-28 z m 91,-16 c 13,-74 10,-104 -11,-104 -13,0 -21,9 -25,28 -18,89 -18,104 -5,113 23,14 34,5 41,-37 z m 100,-9 c 21,-65 22,-94 2,-102 -31,-12 -49,12 -60,78 -12,73 -10,81 19,77 16,-2 26,-16 39,-53 z m 973,25 c 17,-19 17,-21 -1,-41 -28,-32 -52,-41 -85,-34 -39,9 -37,23 8,62 45,38 54,40 78,13 z m 1143,-88 c 28,-33 39,-52 30,-52 -17,0 -98,83 -98,101 0,20 23,3 68,-49 z m -1080,16 c 19,-19 14,-31 -23,-57 -62,-42 -91,-3 -32,43 37,30 39,30 55,14 z m 1028,-48 53,-50 h -40 c -28,0 -51,8 -75,26 -36,28 -41,43 -22,62 19,19 28,15 84,-38 z m -930,-21 c 18,-20 18,-22 1,-34 -18,-13 -117,-28 -126,-19 -9,9 70,74 89,74 9,0 25,-9 36,-21 z m -1036,-36 c 11,-10 20,-21 20,-25 0,-4 -49,-7 -109,-7 -83,0 -113,4 -122,15 -9,12 -5,14 27,15 22,1 53,5 69,9 52,13 94,11 115,-7 z m 2440,-59 c 203,-5 229,-5 370,0 74,3 113,0 133,-10 22,-10 46,-11 100,-4 92,11 123,4 152,-34 58,-76 90,-289 79,-527 l -7,-160 -28,6 c -36,8 -50,-17 -25,-44 24,-27 20,-31 -29,-31 -40,0 -47,3 -55,26 -6,14 -10,45 -10,69 0,35 -3,43 -15,39 -20,-8 -29,-64 -17,-108 10,-35 10,-36 -16,-36 -15,0 -38,3 -50,7 -22,5 -23,10 -17,49 5,39 4,44 -13,44 -16,0 -21,-10 -26,-50 l -7,-50 h -38 c -46,0 -64,18 -66,68 -1,26 -6,36 -16,34 -21,-5 -30,-24 -23,-54 5,-26 4,-28 -30,-28 -39,0 -56,20 -56,63 0,20 -27,60 -31,46 -9,-39 -6,-78 11,-125 11,-32 20,-60 20,-61 0,-2 -17,-3 -37,-3 -56,0 -105,59 -50,61 14,0 17,2 7,6 -31,11 -50,37 -50,67 0,17 -4,38 -10,46 -13,21 -33,-36 -26,-75 4,-16 7,-43 9,-60 2,-28 0,-30 -33,-27 -19,1 -42,10 -53,19 -18,17 -18,18 0,24 15,6 13,8 -10,14 -26,7 -28,11 -27,49 1,22 1,46 0,51 -1,6 -2,15 -1,20 1,6 -8,-1 -19,-14 -22,-25 -25,-56 -10,-95 9,-25 8,-26 -29,-26 -63,0 -71,7 -71,56 0,33 -4,44 -15,44 -20,0 -24,-12 -27,-80 l -3,-55 -46,-3 -47,-3 -1,61 c 0,34 -3,66 -7,71 -11,19 -34,-13 -34,-47 0,-34 0,-34 -46,-34 h -47 l 7,46 c 5,39 4,45 -11,42 -20,-4 -31,-36 -32,-100 -1,-52 -5,-55 -70,-42 -21,5 -31,12 -31,25 0,11 5,19 12,19 9,0 9,3 0,12 -7,7 -12,27 -12,44 0,18 -4,35 -9,39 -17,10 -31,-31 -31,-89 v -56 h -50 c -58,0 -59,0 -68,97 -6,53 -11,68 -24,71 -15,3 -18,-5 -18,-52 v -56 h -38 c -47,0 -62,14 -62,58 0,26 -4,33 -17,30 -13,-2 -20,-16 -23,-43 -4,-35 -9,-40 -32,-43 -46,-5 -68,13 -68,59 0,33 -3,40 -17,37 -22,-4 -29,-57 -13,-88 10,-18 8,-20 -21,-20 -43,0 -69,25 -69,67 0,26 -4,33 -20,33 -17,0 -20,-7 -20,-46 v -45 l -47,3 -48,3 -3,43 c -3,34 -7,42 -23,42 -16,0 -19,-7 -19,-45 v -46 l -62,3 -63,3 -3,43 c -2,27 -8,42 -17,42 -26,0 -29,-56 -8,-132 3,-15 -2,-18 -31,-18 -19,0 -37,4 -41,10 -3,5 -8,39 -12,75 -8,88 -27,79 -33,-16 l -5,-74 -45,-3 c -33,-3 -47,1 -57,14 -19,27 -16,44 10,45 21,1 21,1 -3,8 -22,6 -24,11 -22,49 3,32 0,42 -12,42 -22,0 -26,-12 -27,-84 l -1,-66 h -33 c -30,0 -33,3 -39,38 -3,20 -6,54 -6,75 0,30 -4,37 -20,37 -26,0 -28,-18 -14,-117 l 6,-43 h -55 c -31,0 -58,4 -62,10 -3,5 -14,42 -24,82 -22,87 -46,100 -45,26 0,-48 0,-48 -33,-48 -34,0 -38,6 -45,70 -2,14 -9,25 -18,25 -12,0 -15,-15 -12,-82 l 2,-83 h -40 -40 l -1,43 c 0,23 0,60 1,83 1,26 -4,45 -14,53 -20,17 -24,7 -30,-84 -2,-38 -5,-73 -5,-77 -2,-14 -78,-8 -90,6 -6,8 -13,41 -16,75 -4,72 -11,87 -31,70 -8,-7 -14,-30 -14,-56 v -44 l -42,3 c -40,3 -43,5 -48,37 -3,19 -10,36 -17,38 -15,5 -26,-31 -18,-58 6,-19 3,-20 -47,-17 -53,3 -53,3 -56,38 -4,62 -11,80 -27,74 -11,-5 -15,-22 -15,-60 v -54 h -43 c -51,0 -67,13 -67,55 0,30 -15,55 -33,55 -9,0 -6,-43 9,-122 5,-30 3,-39 -10,-44 -22,-9 -72,36 -54,48 8,5 1,8 -19,8 -32,0 -34,2 -47,63 -5,20 -12,27 -24,25 -17,-4 -19,-18 -8,-63 6,-24 4,-25 -37,-25 -51,0 -67,13 -67,56 0,17 -7,37 -15,44 -12,10 -15,7 -21,-14 -3,-15 -3,-39 0,-54 20,-83 19,-92 -7,-92 -39,0 -60,33 -62,97 -2,53 -5,59 -40,90 l -39,33 12,173 c 15,210 15,354 2,362 -18,11 -10,33 15,39 14,4 25,13 25,21 0,16 7,18 85,20 28,1 96,8 153,16 81,10 107,11 122,1 11,-7 41,-12 68,-12 26,0 52,-4 58,-8 10,-10 217,0 419,19 80,8 256,12 460,10 182,-1 339,-1 350,0 11,1 225,3 477,3 251,1 460,4 464,9 4,4 85,5 178,1 94,-3 250,-8 346,-10 z M 3210,3790 c 0,-17 -7,-20 -45,-20 -25,0 -45,2 -45,4 0,2 -3,11 -6,20 -5,13 2,16 45,16 44,0 51,-3 51,-20 z m 144,3 c 10,-25 -7,-35 -55,-31 -37,2 -45,7 -47,26 -3,20 0,22 46,22 37,0 51,-4 56,-17 z m 126,-8 c 0,-22 -4,-25 -35,-25 -24,0 -37,6 -45,19 -15,30 -14,31 35,31 41,0 45,-2 45,-25 z m 394,3 c 10,-37 8,-39 -36,-36 -39,3 -43,6 -46,31 -3,25 -1,27 36,27 33,0 41,-4 46,-22 z m 709,-4 c 3,-16 0,-28 -9,-31 -20,-7 -104,6 -104,17 0,5 -3,15 -6,24 -5,14 3,16 54,16 56,0 60,-1 65,-26 z m 142,-4 c 0,-22 -5,-25 -36,-28 -38,-3 -69,17 -69,44 0,12 11,14 53,12 48,-3 52,-5 52,-28 z m 400,0 c 0,-23 -3,-25 -50,-25 -47,0 -50,1 -53,28 -3,28 -3,28 50,25 49,-3 53,-5 53,-28 z m 423,8 c -3,-20 -9,-23 -43,-23 -34,0 -40,3 -43,23 -3,20 1,22 43,22 42,0 46,-2 43,-22 z m 690,-4 c 6,-44 -62,-42 -71,2 -4,23 -2,25 32,22 28,-2 37,-8 39,-24 z m 378,-182 c -155.4013,39.7848 -86.8366,31.9901 -182.5926,-3.0184 L 6475,3601 c 59,9 129,10 141,1 z m -1782,-31 c 4,-6 35.9753,-11.7027 26,-11 -92.3599,6.5066 53.3001,11.4393 -26,11 z"
            sodipodi:nodetypes="ccccccscccccccccccscsccccccccscsccsccccccsccccccscccsccccccccccccscscccccccccscccscscccccccsccsscccccccccccscccccccsccccsccccscscsccccscccsccccccsccscccccccccsccccccccscccsccccccccccccccccscccssccssccscccsccccscscssccccscsccccccscccccccccscccccscscccccccscsscccsccssccscsccscscscscccccccccscssccccscsccccscccccccccscscccccssccccccccscscscccccccsccccccscccscssccsccscsscscccssscscsccccsssccccscccccsssccscsccscsccccccccccccscsscccsccscccccccscscccsccccccccscccccccccccccccscscccccscccccscccsccccccscccccccscscccssscccsccscccccscccscccccccsccscsccccscccccccsccccccccccccccscccccscccsccscccsccscccscsscccccssccsccccccccccccscscsscsccsscccsccccccccccccccsscsccsccscscccssccssccscccccsccccscsccsccsccscccssccssccsccccccccccccsssccccccssccsccsssscscsccscsscccsccssssccccssccccscscccccccccsccscssccscccscsccccccccccccsccccccccscssscccscccsscccsccccccscccscccsccccssscsscccscsscssccsscccscscscscsssccsssssscccccccccsc"
          />
          <path
            d="m 7395,4956 c -5,-2 -35,-12 -65,-21 -30,-9 -63,-24 -72,-32 -14,-13 -27,-13 -90,-3 -151,26 -174,29 -225,29 -44,1 -53,-2 -58,-20 -4,-12 -3,-25 2,-29 4,-4 78,-10 163,-13 l 155,-5 -3,-54 c -2,-29 1,-66 7,-81 10,-25 8,-29 -16,-38 -16,-6 -132,-11 -276,-11 -242,-1 -247,-1 -231,-20 17,-17 32,-18 273,-13 l 255,5 66,-32 c 42,-21 82,-33 115,-34 l 50,-2 100,-159 c 114,-182 215,-336 245,-375 12,-15 64,-92 116,-170 53,-79 112,-163 133,-188 40,-48 136,-184 161,-229 8,-14 21,-30 28,-34 14,-9 16,-53 3,-61 -5,-4 -23,-43 -41,-89 -33,-85 -34,-113 -9,-209 8,-32 14,-38 35,-38 21,0 25,4 19,18 -29,74 -37,110 -31,149 7,54 38,117 82,166 19,20 34,43 34,51 0,8 -31,45 -68,82 -37,38 -83,92 -102,119 -19,28 -66,91 -105,140 -40,50 -80,106 -91,125 -10,19 -38,57 -61,84 -24,26 -43,53 -43,58 0,6 -11,23 -25,40 -14,16 -25,36 -25,44 0,17 -34,72 -95,155 -24,32 -64,97 -89,143 -25,46 -53,89 -62,96 -8,8 -29,33 -44,56 l -29,41 40,32 c 21,18 44,29 50,25 6,-3 19,-25 30,-48 21,-45 54,-90 209,-286 123,-155 165,-212 240,-317 30,-42 81,-109 115,-147 33,-38 90,-110 128,-160 37,-50 76,-102 87,-115 22,-25 19,-25 140,3 36,9 106,16 155,17 87,1 89,2 45,12 -64,16 -184,12 -236,-8 l -44,-17 -28,29 c -15,15 -64,75 -107,133 -44,58 -118,153 -165,212 -84,105 -152,194 -219,286 -19,26 -55,72 -81,102 -41,48 -71,90 -177,243 -12,18 -32,45 -44,60 -17,23 -22,44 -24,102 -2,86 -21,126 -81,168 -36,25 -95,42 -119,33 z m 96,-59 c 24,-16 40,-39 53,-76 19,-52 19,-54 1,-67 -11,-8 -16,-21 -12,-33 3,-12 -3,-31 -15,-46 -18,-24 -25,-25 -99,-24 -71,1 -83,4 -116,31 -54,43 -64,62 -61,115 2,39 7,50 26,58 12,5 22,15 22,21 0,17 69,42 121,43 33,1 56,-6 80,-22 z"
          />
          <path
            d="m 8595,3486 c -59,-19 -78,-30 -142,-91 -32,-30 -63,-55 -69,-55 -40,0 -125,-177 -110,-232 5,-22 101,-128 115,-128 4,0 15,6 25,13 14,10 20,34 26,90 10,103 48,177 115,226 60,44 136,71 199,71 33,0 46,4 46,14 0,8 -4,18 -10,21 -14,9 -12,55 3,55 6,1 -3,7 -22,15 -40,18 -121,18 -176,1 z m 140,-36 c 4,-6 -13,-10 -43,-10 -39,0 -57,-6 -88,-30 -21,-16 -55,-41 -74,-54 -19,-13 -45,-34 -57,-47 -27,-30 -71,-117 -79,-158 -7,-35 -19,-39 -46,-14 -24,22 -23,44 6,101 38,75 191,198 264,213 56,10 110,10 117,-1 z"
          />
        </g>
      </g>
    </svg>
    <div class="nav-buttons">
      <b-button
        variant="primary"
        size="lg"
        @click="goTo(urls.home())"
        v-text="$i18n('error.page.back_home')"
      />
      <b-button
        variant="primary"
        size="lg"
        @click="goTo(urls.contact())"
        v-text="$i18n('navigation.support')"
      />
    </div>
  </div>
</template>

<script setup>
import i18n from '@/helper/i18n'
import { defineProps } from 'vue'
import { goTo } from '@/script'
import { urls } from '@/helper/urls'

const props = defineProps({
  code: { type: Number, required: true },
})

const codes = {
  404: i18n('error.page.not_found'),
  500: i18n('error.page.internal_server_error'),
}

</script>

<style lang="scss" scoped>
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 1rem 1rem;
  }
  .nav-buttons {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;
  }
}

#svg404 {
  width: 80%;
  transform-origin: 50% 50% 0px;
  cursor: move;
  max-height: 378.22px;
  transition: none;
  align-self: center;
}
</style>
