<tr>
    <td height="20" valign="top" style="background-color:#FAF7E5">
        <div style="text-align:center;padding-top:10px;font-size:11px;font-family:Arial;padding:15px;color:#594129;">
            <p>{{ 'email_template.dont_respond.noreply'|trans }}</p>
            <p>{{ 'email_template.dont_respond.no_notification_link'|trans }} {{ 'email_template.dont_respond.you_can'|trans }} <a style="color:#F36933" href="https://foodsharing.de/user/current/settings?sub=info" target="_blank">
                {{ 'email_template.dont_respond.notification'|trans }}</a> {{ 'email_template.dont_respond.nomail'|trans }}</p>
        </div>
    </td>
</tr>