.infos p {
  margin: 0 0 10px;
}

.profile-infos {
  color: var(--fs-color-primary-500);
  margin-bottom: -5px;
}
.profile-infos.profile-main {
  font-size: 1.1em;
}
.profile-infos.profile-side {
  font-size: 0.9em;
}
.profile-infos dt {
  font-weight: bolder;
  margin-top: 5px;
}
.profile-infos dd {
  padding-bottom: 5px;
}

.profile.statdisplay {
  margin-bottom: 5rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 500px) {
  .profile.statdisplay {
    position: relative;
    top: -50px;
    float: right;
    display: block;
    width: 100%;
    margin-bottom: -5rem;
    padding-bottom: 2rem;
  }
}

.profile.statdisplay .item {
  float: right;
  display: flex;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--fs-color-secondary-500);
  text-align: center;
  min-width: 85px;
  min-height: 85px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile.statdisplay .item span {
  color: var(--fs-color-light);
  letter-spacing: normal;
}

div.statdisplay .item .val {
  font-size: 17px;
  font-weight: bold;
  display: block;
  margin: 14px 0 1px;
}

div.statdisplay .item .name {
  font-size: 11px;
  display: block;
  margin: 0 0 14px 0;
}

div.statdisplay a.item:hover {
  text-decoration: none;
  opacity: 0.8;
}

.stat_bananacount {
  background: url("/img/banana-plus.png") no-repeat center 2rem;
}

.stat_bananacount.bouched {
  background-image: url("/img/banana-checkmark.png");
}

.page .linklist {
  margin-top: 10px;
  margin-bottom: 0;
}

.datelist a {
  font-weight: bolder;
}

/* Make sure the usually-hidden store titles are displayed in past pickup list */
div.pickup > div.pickup-title > div.store-title {
  display: block;
}

.cancel-all-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.disabled {
  pointer-events: none;
  background-color: var(--fs-color-gray-400);
}

#disabledreports-link {
  opacity: 0.6;
}
#disabledreports a {
  font-weight: bolder;
  color: var(--fs-color-secondary-500);
}
