<p>{{ ANREDE }} {{ NAME }},</p>
<p></p>
<p>jemand hat deine E-Mail-Adresse f&uuml;r foodsharing zu {{ ADDRESS }} geändert. Um diese Änderung abzuschließen, aktiviere sie bitte über den Link, der in der E-Mail an die neue Adresse enthalten ist.</p>
<p>Um die Änderung abzubrechen, klicke bitte auf den folgenden Link: <a href="{{ LINK }}" target="_blank" rel="noopener noreferrer">{{ LINK }}</a></p>
<p>Falls du diese Änderung nicht angefordert hast, ist dein Konto möglicherweise gefährdet.
Bitte ändere in diesem Fall schnellstmöglich dein Passwort.
Falls dies nicht möglich ist, kontaktiere schnellstmöglich den Support unter <a href="{{ SUPPORT_LINK }}" target="_blank" rel="noopener noreferrer">{{ SUPPORT_LINK }}</a></p>
