<p>{{ ANREDE }} {{ NAME }},</p>
<p></p>
<p>um deine neue E-Mail-Adresse f&uuml;r foodsharing zu aktivieren, klicke bitte auf den folgenden Link:</p>
<p><a href="{{ LINK }}" target="_blank" rel="noopener noreferrer">{{ LINK }}</a></p>
<p>Bitte beachte, dass du mit deiner vorherigen E-Mail-Adresse eingeloggt sein musst, damit dieser Prozess funktioniert.</p>
