<p>{{ ANREDE }} {{ NAME }},</p>
<p></p>
<p>deine E-Mail-Adresse f&uuml;r foodsharing wurde vom Support zu {{ ADDRESS }} geändert.</p>
<p>Falls du diese Änderung nicht angefordert hast, ist dein Konto möglicherweise gefährdet.
Bitte ändere in diesem Fall schnellstmöglich dein Passwort.
Falls dies nicht möglich ist, kontaktiere schnellstmöglich den Support unter <a href="{{ SUPPORT_LINK }}" target="_blank" rel="noopener noreferrer">{{ SUPPORT_LINK }}</a></p>
