<p>{{ ANREDE }} {{ NAME }}, </p>
<p>mit einem Klick auf den folgenden Link wird dein Benutzerkonto auf foodsharing aktiviert:</p>
<p><a href="{{ LINK }}" target="_blank" rel="noopener noreferrer">{{ LINK }}</a></p>
