<p>{{ ANREDE }} {{ NAME }}, </p>
<p>Dein Ausweis wurde aktiviert oder erneuert. Du kannst deinen Ausweis als PDF-Datei, Google- oder Apple-Wallet unter folgendem Link herunterladen:</p>
<p><a href="{{ LINK }}" target="_blank" rel="noopener noreferrer">{{ LINK }}</a></p>
