<p>{{ ANREDE }} {{ NAME }},</p>
<p>Klicke auf den folgenden Link, um dein Passwort auf foodsharing.de zu &auml;ndern:</p>
<p></p>
<p><a href="{{ LINK }}" target="_blank" rel="noopener noreferrer">{{ LINK }} </a></p>
