<p>{{ ANREDE }} {{ NAME }},</p>
<p>
  {{ POSTER }}
  {{ 'email_template.confirm_link'|trans }}
  <a href="{{ LINK }}" target="_blank">{{ THREAD }}</a>
  {{ 'email_template.confirm_BOT'|trans({'%BEZIRK%': BEZIRK}) }}
  {{ CONFIRMATION_TRANSLATION_KEY|trans }}
</p>
<p>{{ POST|raw }}</p>
