.head + .ui-widget-content {
  column-count: 2;
  column-gap: 2rem;
  padding-top: 0;
}

.shortcode-spacer-1 {
  display: none;
}

@media (max-width: 900px) {
  .head + .ui-widget-content {
    column-count: 1;
  }
}
