// html to be strong!
// and override .bootstrap a
html a[href]:not(:where(
    /* exclude */
    a.alert,
    .navbar-brand,
    .nav-link,
    .nav-item a,
    .btn,
    .dropdown-action,
    .dropdown-item,
    .list-group-item,
    .icon,
    .card-footer a,
    /* corrections to disable old styles */
    .team-memberinfo a,
    .author a,
    .leaflet-control-zoom a
)) {
    text-decoration: none;
    font-weight: 600;
    color: var(--fs-color-secondary-800);

    &:hover {
        text-decoration: underline;
        color: var(--fs-color-secondary-800);
    }
}

html .thread .body a[href] {
    text-decoration: underline;
}

html a.icon:hover {
    text-decoration: unset;
}

html input:disabled {
    cursor: not-allowed;
    opacity: 1;
    color: var(--fs-color-gray-700);
    background-color: var(--fs-color-gray-100);
    border-color: var(--fs-color-gray-200);
}


/*

    button-variant(
        $background,
        $border,
        $hover-background: darken($background, 7.5%),
        $hover-border: darken($border, 10%),
        $active-background: darken($background, 10%),
        $active-border: darken($border, 12.5%)
    )
    Overrides the bootstrap-vue's default button styles
*/
.btn.btn-primary {
    @include button-variant($secondary, $secondary);
}

.btn.btn-secondary {
    @include button-variant($primary, $primary);
}

.btn.btn-light {

    @include button-variant(white,lighten($gray, 40%), #e6e6e6, lighten($gray, 40%), #e6e6e6, $gray);
}

.modal-footer {
    & .btn.btn-secondary {
        @include button-variant(white,lighten($gray, 40%), #e6e6e6, lighten($gray, 40%), #e6e6e6, $gray);
    }
}

.nav-tabs .nav-link {
    background-color: var(--fs-color-secondary-100);
    color: var(--fs-color-primary-700);

    &:hover {
        background-color: var(--fs-color-secondary-200);
        color: var(--fs-color-primary-800);
    }

    &.active {
        background-color: var(--fs-color-secondary-400);
        color: var(--fs-color-primary-900);
    }
}

.btn {
    color: var(--fs-color-text);
    &.btn-info {
        color: var(--fs-color-black);
        background-color: var(--fs-color-info-400);
    }
    &.btn-danger {
        color: var(--fs-color-white);
    }
}

.btn-link {
    color: var(--fs-color-primary-500);

    &:hover {
        color: var(--fs-color-primary-800);
    }
}


// Dark mode overrides
.dark-mode .btn.btn-light {
        @include button-variant( black, darken($gray, 40%), #333, darken($gray, 40%), #333, $gray);
}

