$breaking-viewport: 767px;

.navigation.navbar {
  box-shadow: var(--fs-shadow);
  display: block;
  color: var(--fs-color-primary-500);
  background-color: var( --fs-color-elevated);
  z-index: 1030;

  & .metanav,
  & .mainnav,
  & .sidenav {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    margin: 0;
  }

  & .metanav,
  & .sidenav {
    justify-content: flex-end;
  }

  & .metanav {
    .foodsharing {
      margin-right: auto;
    }
  }
}

@media (max-width: $breaking-viewport) {
  .navigation.navbar .nav-container {
    overflow-y: scroll;
    max-height: 100vh;

    // make sure the website isn't scrolled behind the menu
    overscroll-behavior: contain;

    // hide wierdly positioned menu scrollbar
    -ms-overflow-style: none;
    scrollbar-width: none;
    & ::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (min-width: $breaking-viewport) {
  .nav-foodsharer .mainnav .nav-item .nav-text {
    display: unset;
  }
}

.nav-not-visible .navbar-collapse .nav-text {
  display: none;
}

.metanav-container {
  border-bottom: 1px solid var(--fs-color-primary-alpha-10);

  @media (max-width: $breaking-viewport) {
    border-bottom: 0;
  }

  & .metanav {
    font-size: 0.7rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: var(--fs-color-gray-500);
  }

  & .nav-link {
    padding: 0.25rem 1rem;
  }
}

.mainnav {
  .navbar-toggler {
    color: var(--fs-color-primary-500);

    i {
      min-width: 1.25rem;
    }

    &.not-collapsed {
      color: var(--fs-color-secondary-100);
      background-color: var(--fs-color-secondary-500);
    }
  }

  @media (max-width: $breaking-viewport) {
    justify-content: space-between;
  }

  .icon-nav + .nav-text {
    @media (max-width: 1000px) {
      display: none;
    }
  }
}

.navigation .metanav-container,
.navigation .nav-container {
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0.25rem;

  padding-left: 0;
  padding-right: 0;

  @media (max-width: $breaking-viewport) {
    align-items: center;
  }
}

@media (max-width: $breaking-viewport) {
  .navigation .navbar-collapse {
    margin-bottom: 7.25rem;

    & .metanav,
    & .sidenav {
      flex-direction: column;
    }

    & .nav-item {
      width: 100%;
    }

    & .navbar-navside .nav-item .nav-text  {
      display: unset;
      width: 100%;
    }

    & .is-open-on-mobile {
      & .dropdown-menu {
        position: unset;
        display: block;
      }

      & .dropdown-toggle {
        display: none;
      }
    }
  }
}


body.nav-open{
  overflow: hidden;
}

.navigation .nav-item {
  margin: 0;
}

.navigation .nav-user .nav-link {
  padding: 0.25rem 1rem;
  max-height: 30px;
}

.navigation .nav-link {
  align-items: center;
  background-color: transparent;
  color: currentColor;
  border: 0;
  display: flex;
  position: relative;

  font-weight: 600;

  @media (max-width: 465px) {
    padding: 0.5rem;
  }

  &::after {
    opacity: 0.25;
  }

  &:hover,
  &:focus,
  &:active {
    outline: 2px solid var(--fs-color-primary-alpha-50);
    border-radius: var(--border-radius);
  }

  &:hover {
    color: var(--fs-color-primary-700);
    background-color: var(--fs-color-primary-300);
  }

  &:active {
    color: var(--fs-color-primary-100) !important;
    background-color: var(--fs-color-primary-500);
    // box-shadow: 0 0 0 0.2rem var(--fs-color-primary-400);;
  }


  & .badge {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75rem;
    z-index: 1;

    &.onlyNine {
      right: 8px;
    }

    &.overNinetyNine {
      right: -4px;
    }
  }
}

.navigation .navbar-toggler {
  position: relative;

  &.not-collapsed .badge {
    display: none;
  }

  & .badge {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75rem;
    z-index: 1;

    &.onlyNine {
      right: 8px;
    }

    &.overNinetyNine {
      right: -4px;
    }
  }
}

.navigation .dropdown-header {
  font-weight: 600;
}

@media (max-width: $breaking-viewport) {
  .navigation .dropdown:not(.is-open-on-mobile) .for-mobile .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation .is-open-on-mobile .for-mobile .dropdown-header .btn {
    display: none;
  }
}

.navigation .dropdown {
  @media (max-width: $breaking-viewport) {
    position: static;
  }
}

.navigation .dropdown-menu {
  @media (max-width: $breaking-viewport) {
    min-width: 100%;
    max-width: calc( 91 * 1vw );
  }

  & .collapse {
    width: 100%;
  }

  & .dropdown-item {
    &:not(.dropdown-header) {
        font-size: 0.75rem;
        position: relative;

      & .badge-inline {
        position: absolute;
        left: 24px;
        font-size: 1em;
        top: 3px;
      }
    }
  }

  & .dropdown-menu-scrollable {
    max-height: 45vh;
    display: block;
    overflow-y: auto;
  }
}

.navigation .dropdown-menu-fixed-size .dropdown-menu {
  min-width: 420px;
  max-width: 420px;

  @media (max-width: $breaking-viewport) {
    width: 100%;
    min-width: unset;
    max-width: unset;
    top: calc(var(--navbar-height) - 10px);
  }
}
